# Non-secret hosted trial settings; copy to .env.pwa.local when rebuilding.
CONVEX_DEPLOYMENT=prod:polished-alligator-663
VITE_CONVEX_URL=https://polished-alligator-663.eu-west-1.convex.cloud
VITE_CONVEX_SITE_URL=https://polished-alligator-663.eu-west-1.convex.site
VITE_APP_ENV=preview
VITE_GOOGLE_AUTH_ENABLED=true
